<footer>
	<hr class="hr" />
	<nav>
		<div class="footer-margin-bottom">
			<div class="pull-left">
				<span class="footer-links" style="width: 75%"> <a href="#"
					id="privacy_policy" target="_blank">Privacy Policy</a> | <a
					href="#" id="sec_policy" target="_blank">Security Policy</a> | <a
					href="#" id="disclaimer" target="_blank">Disclaimer</a></span>
			</div>
			<div class="pull-right copyright">
				<small>Copyright, Yodlee, Inc. 2012-2018 &nbsp;&nbsp;</small>
			</div>
		</div>
	</nav>
</footer>
<script type="text/javascript">
	document.getElementById("privacy_policy").href = parentDomainURL
			+ "/ycc/privacy.yodlee.do";
	document.getElementById("sec_policy").href = parentDomainURL
			+ "/ycc/security.yodlee.do";
	document.getElementById("disclaimer").href = parentDomainURL
			+ "/ycc/disclaimer.yodlee.do";
</script>

